[build]
dockerfilePath = "backend/Dockerfile"
dockerContext = "backend"

[deploy]
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
